html{
  background-image: radial-gradient(#ffffff 0.95px, transparent 0.95px), radial-gradient(#ffffff 0.95px, #000000 0.95px);
    background-size: 38px 38px;
    background-position: 0 0, 19px 19px;
}


