.containerCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 2fr));
  gap: 20px; 
  justify-content: center;
}

.item {
  width: 100%; /* Opcional: Ancho máximo del contenedor */
  
}
.item{
  border: 2px solid #2b6dff;
  border-radius: 10px;
  
}

.item img {
  width: 100%; 
  height: 230px;
  object-fit: cover;
  margin-bottom: -8px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* ESTILOS BASE */


.item .cardTitle{
  background-color: #2b2e2e;
  margin: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: left;
  padding: 1.5rem 0rem 0.8rem 1.6rem;
  font-size: 20px;
}

.cardTitle:hover{
  text-decoration: underline;
  cursor: pointer;
}



/* COMPUTADORA */
@media only screen and (min-width: 1024px) {
  .containerCard {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 20px;
    
  }
  
}
/* TABLET */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .containerCard {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    
  }
}
/* CELULAR */
@media only screen and (max-width: 600px) {
  .containerCard {
    grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
    gap: 10px;
  }
}
